<div class="container"><app-navbar></app-navbar></div>
<div class="container"><h1>Extracción de dinero</h1> </div>
<div class="input-group mb-4">
    <span class="retiro" id="retiro">Ingrese el monto a retirar: </span><span class="input-group-text"> $ </span>
    <input type="number" class="form-control" id="retiro" >
  </div>
  <div class="mb-3">
    <label for="dni.retiro" class="dni.retiro">DNI</label>
    <input type="number" class="form-control" id="dni.retiro" placeholder="Ingrese el DNI de quien retirará el dinero">
  </div>
  <div><button type="button" class="btn btn-primary btn-lg" (click)="getRandom()">Generar Código</button></div>
  <div class="container"><app-footer></app-footer></div>