<div class="container">
  <h1>Extracción de dinero</h1>

  <div class="input-group mb-4">
    <span class="retiro" id="retiro">Ingrese el monto a retirar: </span
    ><span class="input-group-text"> $ </span>
    <input type="number" class="form-control" id="retiro" />
  </div>
  <div class="mb-3 d-flex">
    <label for="cuenta.retiro" class="cuenta.retiro">Cuenta</label>
    <input
      type="number"
      class="form-control"
      id="cuenta.retiro"
      placeholder="Ingrese el número de cuenta"
    />
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="getRandom()">
      Generar Código
    </button>
    <button class="btn btn-success m-2" id="cargar" (click)="deposit()">
      Confirmacion retiro
    </button>
  </div>
</div>
