<app-menu></app-menu>
<div class="container">
  <h1 class="title">Extracción de dinero</h1>

  <form class="form-control" [formGroup]="form">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Retiro</label>
      <input
        type="number"
        formControlName="monto"
        id="retiro"
        class="form-control"
        placeholder="Ingrese Retiro"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">DNI</label>
      <input
        type="text"
        formControlName="dniRetiro"
        id="dniRetiro"
        class="form-control"
        placeholder="Ingrese DNI"
      />
    </div>

    <!-- <input type="number" formControlName="monto" id="retiro" />
    <input type="text" formControlName="dniRetiro" id="dniRetiro" /> -->

    <!-- 
    <div class="input-group mb-4">
      <span class="retiro" id="retiro">Ingrese el monto a retirar: </span
      ><span class="input-group-text"> $ </span>
      <input type="number" class="form-control" id="retiro" />
    </div>
    <div class="mb-3 d-flex">
      <label for="dni.retiro" class="dni.retiro">DNI</label>
      <input
        type="number"
        class="form-control"
        id="dni.retiro"
        placeholder="Ingrese el DNI de quien retirará el dinero"
      />
    </div>
    <div>
      <button type="button" class="btn btn-primary" (click)="getRandom()">
        Generar Código
      </button>
      <button class="btn btn-success m-2" id="cargar" (click)="deposit()">
        Confirmacion retiro
      </button>
    </div> -->
    <button class="btn btn-success m-2" id="cargar" (click)="withdraw()">
      Confirmacion retiro
    </button>
  </form>
</div>
