<nav class="navbar bg-light navbar-dark bg-dark">
  <div class="container">
    <div class="position-relative">
      <a class="navbar-brand brand-position">Team L </a>
      <img src="../../../assets/images/logo-teaml.png" alt="" />
    </div>
    <form class="d-flex" role="search">
      <button
        class="btn btn-dark me-2"
        style="border-radius: 0px"
        type="submit"
        
      >
        Iniciar Sesion
      </button>
      <button class="btn btn-warning" style="border-radius: 0px" type="submit">
        Registrarse
      </button>
    </form>
  </div>
</nav>
