<div class="operaciones">
  <div class="container">
    <h1 class="title">OPERACIONES</h1>
  </div>
  <div class="container tarJ">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Realiza un depósito de manera segura</h5>
            <img
              class="img-thumbnail"
              src="../../../assets/images/deposito.jpeg"
              alt="imagen"
            />
            <a href="#" class="btn btn-warning" routerLink="/depositos"
              >Realizar Depósito</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Invertí en Crypto de manera segura</h5>
            <img
              class="img-thumbnail"
              src="../../../assets/images/crypto.jpeg"
              alt="imagen"
            />
            <a href="#" class="btn btn-warning">Invertir en Cryptos</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Realiza una extracción de manera segura</h5>
            <img
              class="img-thumbnail"
              src="../../../assets/images/retiro.jpeg"
              alt="imagen"
            />
            <a href="#" class="btn btn-warning" routerLink="/retiros"
              >Realizar Extracción</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="border border-dark border-3 opacity-50" />
  <div class="container">
    <h3>Cotizacion Crypto en tiempo real</h3>
    <iframe
      src="https://es.widgets.investing.com/crypto-currency-rates?theme=darkTheme&hideTitle=true&roundedCorners=true&cols=bid,ask,last,high,low&pairs=945629,997650,1010776"
      width="100%"
      height="100%"
      frameborder="0"
      allowtransparency="true"
      marginwidth="0"
      marginheight="0"
    ></iframe>
  </div>
</div>
