hr{
    margin:20px 0px;
}
h3{
    text-align: center;
}
.operaciones{
    width: 100%;
    height: auto;
}
.title{
    text-align: center;
    text-shadow: 3px 3px 3px #6e6e6e;
}
.tarJ{
    text-align: center;
}

#cripto{
    clip-path: inset(35% 0 25% 0);
    margin-bottom: -46.5%;
    top: -30%;
}

.img-thumbnail{
    position:relative;
    padding-bottom: 30%;
}

#crip{
    height: 83%;
}

#cri{
    position: relative;
    bottom: 20%;

}

#boton{
    position:relative;
    top: -20%;
}

