<div class="container py-5">
    <div class="row text-center text-black">
        <div class="col-lg-8 mx-auto">
            <h1 class="title">NUESTRO TEAM</h1>
            <p class="lead mb-0">Trabajando con los mejores.</p>
        </div>
    </div>
</div><!-- End -->


<div class="container">
    <div class="row text-center">

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../../../assets/images/fotosPerfil/Mauricio-torres.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm img-perfil">
                <h5 class="mb-0">Mauricio Torres</h5><span class="small text-uppercase text-muted">Desarrollador</span>
                <div class="mt-3">
                    <a href="https://www.linkedin.com/in/mauricio-torres-ab25a0204/"><img src="../../../assets/images/linkedin.svg"></a>
                </div>
            </div>
        </div><!-- End -->

        <!-- Team item -->
         <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../../../assets/images/fotosPerfil/matias andres veron.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm  img-perfil">
                <h5 class="mb-0">Matias Andres Veron</h5><span class="small text-uppercase text-muted">Desarrollador</span>
                <div class="mt-3">
                    <a href="https://www.linkedin.com/in/matias-veron-5a1296220/"><img src="../../../assets/images/linkedin.svg"></a>
                </div>
            </div>
        </div><!-- End -->

         <!-- Team item -->
         <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../../../assets/images/fotosPerfil/Rodrigo Maldonado.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm  img-perfil">
                <h5 class="mb-0">Rodrigo Maldonado</h5><span class="small text-uppercase text-muted">Desarrollador</span>
                <div class="mt-3">
                    <a href="https://www.linkedin.com/in/rodrigomaldonadoabc"><img src="../../../assets/images/linkedin.svg"></a>
                </div>
            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../../../assets/images/fotosPerfil/Franco Gual.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm  img-perfil">
                <h5 class="mb-0">Franco Ignacio Gual</h5><span class="small text-uppercase text-muted">Desarrollador</span>
                <div class="mt-3">
                    <a href="https://www.linkedin.com/in/franco-gual-3a52601b6/"><img src="../../../assets/images/linkedin.svg"></a>
                </div>
            </div>
        </div><!-- End -->

             <!-- Team item -->
             <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../../../assets/images/fotosPerfil/tania ferreira.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm  img-perfil">
                    <h5 class="mb-0">Tania Ferreira</h5><span class="small text-uppercase text-muted">Desarrollador</span>                
                    <div class="mt-3">
                    <a href="https://www.linkedin.com/in/ferreira-tania"><img src="../../../assets/images/linkedin.svg"></a>
                    </div>
                </div>
            </div><!-- End -->
        
         <!-- Team item -->
         <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../../../assets/images/fotosPerfil/Leandro Lopez.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm  img-perfil">
                <h5 class="mb-0">Leandro Alexis Lopez</h5><span class="small text-uppercase text-muted">Desarrollador</span>
                <div class="mt-3">
                <a href="https://www.linkedin.com/in/leandro-alexis-lopez-3650a6224/"><img src="../../../assets/images/linkedin.svg"></a>
                </div>
            </div>
        </div><!-- End -->

         <!-- Team item -->
         <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../../../assets/images/fotosPerfil/DanielaCrapaDuarte.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm  img-perfil">
                <h5 class="mb-0">Daniela Crapa</h5><span class="small text-uppercase text-muted">Desarrollador</span>
                <div class="mt-3">
                <a href="https://www.linkedin.com/in/daniicrapa/"><img src="../../../assets/images/linkedin.svg"></a>
                </div>
            </div>
        </div><!-- End -->

           <!-- Team item -->
           <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../../../assets/images/fotosPerfil/Alejandro Bazan.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm  img-perfil">
                <h5 class="mb-0">Miguel Alejandro Bazan</h5><span class="small text-uppercase text-muted">Desarrollador</span>
                <div class="mt-3">
                    <a href="https://www.linkedin.com/in/bazan-alejandro/"><img src="../../../assets/images/linkedin.svg"></a>
                </div>
            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../../../assets/images/fotosPerfil/Alejo Fernandez.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm  img-perfil">
                <h5 class="mb-0">Alejo Nahuel Fernandez</h5><span class="small text-uppercase text-muted">Desarrollador</span>
                <div class="mt-3">
                    <a href="https://www.linkedin.com/in/alejo-nahuel-fernandez-516962245/"><img src="../../../assets/images/linkedin.svg"></a>
                </div>
            </div>
        </div><!-- End -->

    </div>
</div>