<a class="btn btn-warning mg-5" href="#openModal">Iniciar Sesion</a>

<div id="openModal" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticEmail" value="email@xmail.com">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-3 col-form-label">Contraseña</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword">
            </div>
            <div class="col-auto">
                <button type="submit" style="border-radius: 0px" class="btn btn-warning mt-5">Ingresar</button>
              </div>
          </div>
	</div>
</div>