<div class="container mb-4">
  <h1 class="title">Depósito</h1>
  <form class="form-control" [formGroup]="form">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Monto</label>
      <input
        type="number"
        formControlName="monto"
        id="monto"
        class="form-control"
        placeholder="Monto a depositar"
      />
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Número de cuenta</label
      >
      <input
        type="text"
        formControlName="dniRetiro"
        id="dniRetiro"
        class="form-control"
        placeholder="Ingrese DNI"
      />
    </div>

    <button
      type="submit"
      class="btn btn-dark me-2"
      (click)="realizarDeposito()"
    >
      Realizar depósito
    </button>

    <br />
  </form>
</div>
