<div class="container">
    <h1>DEPÓSITO</h1>
  
    <div class="input-group mb-4">
      <span class="deposito" id="deposito">Ingrese el monto a depositar: </span
      ><span class="input-group-text"> $ </span>
      <input type="number" class="form-control" id="deposito" />
    </div>
    <div class="mb-3 d-flex">
      <label for="cuenta.deposito" class="cuenta.deposito">Número de cuenta</label>
      <input
        type="number"
        class="form-control"
        id="cuenta.deposito"
        placeholder="Ingrese el número de cuenta de quien deposita el dinero"
      />
    </div>
    <div>
      <button type="button" class="btn btn-primary" (click)="getRandom()">
        Generar Código
      </button>
      <button class="btn btn-success m-2" id="cargar">
        Confirmar Depósito
      </button>
    </div>
  </div>