<div class="container mt-3 d-flex flex-column rounded bg-white mb-3">
  <h3 class="title">Ultimos Retiros</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Descripción</th>
        <th scope="col">Importe</th>
        <th scope="col">Saldo</th>
      </tr>
    </thead>
    <tbody *ngFor="let deposito of depositosOrdenados">
      <ng-container>
        <tr *ngIf="deposito.description === 'Withdraw cash'">
          <th scope="row">{{ deposito.date }}</th>
          <td>{{ deposito.description }}</td>
          <td style="color: red">- ${{ deposito.mount }}</td>
          <td>- ${{ deposito.saldo }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="contenedor-btn">
    <button  class="btn btn-warning" routerLink="/dashboard">Volver</button>
  </div>
</div>
