<!--Cards Servicios Ofrecidos-->
  <div class="conteiner-fluid contenedorPrincipal">
  <h2 class="title mt-3 mb-3">Servicios Ofrecidos</h2>
  <div class="row gap-3 justify-content-center">
    <div class="card mb-3 col-6 border border-white" style="max-width: 570px">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><b> Depositos en Efectivo</b></h5>
            <p class="card-text">
              Podes hacer depositos en efectivo en tu cajero mas cercano.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <img
            src="../../../assets/images/cajero.png"
            class="img-fluid rounded-start m-2"
            alt="..."
          />
        </div>
      </div>
    </div>

    <div class="card mb-3 col-6 border border-white" style="max-width: 570px">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><b> Retiros en Efectivo</b></h5>
            <p class="card-text">Retira tu dinero en efectivo.</p>
          </div>
        </div>
        <div class="col-md-4">
          <img
            src="../../../assets/images/efectivo.png"
            class="img-fluid rounded-start m-2"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row gap-3 justify-content-center">
    <div class="card mb-3 col-6 border border-white" style="max-width: 570px">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><b> Transferencias a otras cuentas</b></h5>
            <p class="card-text">
              Transferi dinero a otras cuentas desde tu celular o computadora.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <img
            src="../../../assets/images/transferencia.png"
            class="img-fluid rounded-start m-2"
            alt="..."
          />
        </div>
      </div>
    </div>

    <div class="card mb-3 col-6 border border-white" style="max-width: 570px">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><b> Seguridad</b></h5>
            <p class="card-text">
              Te avisaremos a tu celular cuando se realice un movimiento en tu
              cuenta.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <img
            src="../../../assets/images/seguridad.png"
            class="img-fluid rounded-start m-2"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
</div>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section id="counter" class="sec-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-3 ">
					<div class="count"> <span class="fa fa-smile-o"></span>
						<p class="number">+80.000</p>
						<h4>Clientes satisfechos</h4> </div>
				</div>
				<div class="col-md-3 ">
					<div class="count"> <span class="fa fa-smile-o"></span>
						<p class="number">+1000</p>
						<h4>Beneficios</h4> </div>
				</div>
				<div class="col-md-3 ">
					<div class="count"> <span class="fa fa-smile-o"></span>
						<p class="number">90.000</p>
						<h4>Recomendaciones</h4> </div>
				</div>
				<div class="col-md-3 ">
					<div class="count"> <span class="fa fa-smile-o"></span>
						<p class="number">+100.000</p>
						<h4>Transacción completadas</h4> </div>
				</div>
			</div>
		</div>
	</section>