<section class="p-5 page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Nuestro Team</h2>
        </div>
        <div class="row">
            <div *ngFor="let item of members" class="col-md-4">
                <div >
                    <img class="rounded-circle img-fluid" [src]="item.foto" alt="colaborador" />
                    <h4>{{item.name}}</h4>
                    <p class="text-muted">Desarrollador Web</p>
                    <a class="btn btn-dark btn-social mx-2" [href]="item.linkedin"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        
        </div>
    </div>
</section>
