<div class="loginBody">
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="../../../assets/img/logo.png" id="icon" alt="User Icon" />
          </div>
    
          <div>
            <h2>Crea tu cuenta</h2>
          </div>
      
          <!-- Login Form -->
          <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
            <input type="submit" class="fadeIn fourth" value="Login">
          </form>
    
          <div>
            <p style="font-size:11px;">Lteam 2022.</p>
          </div>
            
          </div>
      
        </div>
    </div>
