<body class="loginBody">
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
    
          <div>
            <h2>Crea tu cuenta</h2>
          </div>
      
          <!-- Login Form -->
          <form>
            <input type="email" id="user" class="fadeIn second" name="register" placeholder="Usuario">
            <input type="password" id="password" class="fadeIn third" name="register" placeholder="Contraseña">
            <input type="submit" class="fadeIn fourth" value="Registrate">
          </form>
    
          <div>
            <p style="font-size:13px;">Lteam 2022.</p>
          </div>
            
          </div>
      
        </div>
</body>
