

<body class="loginBody">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->

      <div>
        <h2>Crea tu cuenta</h2>
      </div>

      <!-- Login Form -->
      <form [formGroup]="form">
        <input type="email" formControlName="email" id="user" class="fadeIn second" name="register" placeholder="Email">
        <input type="password" formControlName="password" id="password"  class="fadeIn third" name="register"
          placeholder="Contraseña">
        <input type="submit" (click)="register()" id="submit" class="fadeIn fourth" value="Registrate">

        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-warning">
          <div *ngIf="email?.errors?.['required']">El email es requerido.</div>
          <div *ngIf="email?.errors?.['email']">El formato del email no es valido</div>
          </div>

          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-warning">
            <div *ngIf="password?.errors?.['required']">La Contraseña es requerida</div>
            <div *ngIf="password?.errors?.['maxlength']">La contraseña debe tener maximo 8 caracteres, de cualquier tipo. </div>
            <div *ngIf="password?.errors?.['minlength']">La contraseña debe minimo 5 caracteres. </div>
            </div>
          


      </form>

      <div>
        <p style="font-size:13px;">Lteam 2022.</p>
      </div>

    </div>

  </div>
</body>
